<header>
    <h1>Productos Disponibles</h1>
</header>
<main>
    <section class="cards-container">
        {{#if products.length}}
        {{#each products}}
        <div class="card">
            <img src="/api/public/images/{{this.thumbnail}}" alt="{{this.title}}" />
            <h3>{{this.title}}</h3>
            <p>Precio: S/{{this.price}}</p>
            <button onclick="window.location.href='/products/details/{{this._id}}'">Ver Detalles</button>
        </div>
        {{/each}}
        {{else}}
        <p>No hay productos disponibles.</p>
        {{/if}}
    </section>
</main>